
<div class="jumbotron">
    <h1>Delivr.</h1>
    <p class="lead">
      <i class="glyphicon glyphicon-check"></i><br>
      Get your stuff moved.
    </p>
    <a class="btn btn-success" ng-href="#/login">Login</a>
    <a class="btn btn-warning" ng-click="showAbout = !showAbout">About</a>
  </div>

<div ng-show="showAbout">
    <h1>Delivr allows you to move things quickly and easily</h1>

    <p>With help from our friends at @postmates, we are able to access a fleet of couriers that are able to deliver almost anything to your door. Simply login or create an account, create a delivery, and wait for one of Postmates trusted couriers to come transport your stuff!</p>
</div>

