

<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Payment Details
            </h3>
            <div class="checkbox pull-right">
                <label>
                    <input type="checkbox" />
                    Remember
                </label>
            </div>
        </div>
        <div class="panel-body">
    <form action="http://localhost:3000/stripe/cardSubmit" method="POST" id="payment-form">
            <div class="form-group">
                <label for="cardNumber">
                    CARD NUMBER</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="cardNumber" ng-model="userCtrl.cardForm.number" placeholder="Valid Card Number"
                        required autofocus />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-7 col-md-7">
                    <div class="form-group">
                        <label for="expityMonth">
                           ENTER EXPIRATION DATE HERE</label>
                        <div class="col-xs-6 col-lg-6 pl-ziro">
                            <input type="number" class="form-control" id="expityMonth" ng-model="userCtrl.cardForm.exp_month" placeholder="MM" required />
                        </div>
                        <div class="col-xs-6 col-lg-6 pl-ziro">
                            <input type="number" class="form-control" id="expityYear" ng-model="userCtrl.cardForm.exp_year" placeholder="YY" required /></div>
                    </div>
                </div>
                <div class="col-xs-5 col-md-5 pull-right">
                    <div class="form-group">
                        <label for="cvCode">
                            CV CODE</label>
                        <input type="password" class="form-control" id="cvCode" ng-model="userCtrl.cardForm.cvc" placeholder="CV" required />
                    </div>
                </div>
            </div>
<p>{{userCtrl.cardForm}}</p>
        </div>
    </div>
    <br/>
    <btn ng-click="userCtrl.createStripeUserToken(userCtrl.cardForm)" class="btn btn-success btn-lg btn-block">Save</btn>
</div>
</form>




