<div class="container-fluid">
    <div class="span3 well">
        <center>
        <a href="" data-toggle="modal"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" class="img-circle"></a>
        <h3>{{userCtrl.currentUser.username}}</h3>
        <button class="btn">Settings</button>
    </center>
    </div>

    <nav class="navbar navbar-default navbar-inline">
        <div class="container-fluid">

                <li><a href="#/userNewDelivery">Create a New Delivery</a></li>

                <li><a href="#/userViewDeliveries">My Deliveries</a></li>

                <li><a href="#/userAddCard">Payment Info</a></li>

        </div>
    </nav>
</div>


